<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Quiz-Management-System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">



  <hr/>

  <table class="table table-bordered table-striped">
    <caption>Question List:</caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Option</th>
      <th>difficulty</th>
      <th>tag</th>
      <th>answer</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${questions}">
      <td th:text="${question.id}" />
      <td th:text="${question.title}" />
      <td th:text="${question.options}" />
      <td th:text="${question.difficulty}" />
      <td th:text="${question.tag}" />
      <td th:text="${question.answer}" />
      <td >
        <a th:href="@{/question/update/__${question.id}__}" class="btn btn-info">Update</a>
      </td>
      <td >
        <a th:href="@{/question/delete/__${question.id}__}" class="btn btn-info">Delete</a>
      </td>

    </tr>
    </tbody>

  </table>
</div>


</body>
</html>