<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Quiz-Management-System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container"><h3>Quiz:</h3>
    <hr/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Question</th>
            <th>Options:</th>
        </tr>
        </thead>
        <tbody>
        <tr class="data" th:each="question: ${questions}">
            <td th:text="${question.title}"/>
            <td class="ans" style="display:none" th:text="${question.answer}"/>
            <td>
                <input type="radio" name="option" th:text="${question.option[0].choice}"
                       th:value="${question.option[0].choice}">
                <input type="radio" name="option" th:text="${question.option[1].choice}"
                       th:value="${question.option[1].choice}">
                <input type="radio" name="option" th:text="${question.option[2].choice}"
                       th:value="${question.option[2].choice}">
                <input type="radio" name="option" th:text="${question.option[3].choice}"
                       th:value="${question.option[3].choice}">
                <button type="button" class="btn btn-sm btn-info ml-3" onclick="displayRadioValue()">
                    Submit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <span>Score (</span> <span class="score"> </span><span style="display:none" class="hide mx-3">out of</span><span
            class="total"></span> )</span>
</div>
</body>
<script>

        let count = 0;

        function displayRadioValue() {
            var ele = document.getElementsByName('option');

            let value;

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
               value = ele[i].value;
            }

            const node = document.querySelector(".ans");
            const correctAns = node.innerText;

            if(value === correctAns){
               count++;
            }
            const ans = document.querySelector(".score");
            const total = document.querySelector(".total");
            const question = document.querySelectorAll(".data");
            const hidden = document.querySelector(".hide");

            if(question.length > 0){
                hidden.style.display = "inline-block";
            }

            ans.innerText = count;
            total.innerText = question.length;

        }









</script>
</html>